<br>

<div class="card-body">
  <h2>Datos del usuario</h2>
    
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <strong> ID: </strong> {{usuario.id}}</li>
      <li class="list-group-item"> <strong> Gender: </strong> {{usuario.gender}}</li>
      <li class="list-group-item"> <strong> Age: </strong> {{usuario.age}}</li>
      <li class="list-group-item"> <strong> Country: </strong> {{usuario.country}}</li>
      <li class="list-group-item"> <strong> Registered: </strong> {{usuario.registered}}</li>
    </ul>
  </div>